<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <connectionStrings>   
        <add name="dBCs" 
             connectionString="Data Source=T-PC\SQLEXPRESS;Initial Catalog=ProjectManagementSystemDB;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
		<add name="dbcs2" connectionString="Data Source=T-PC\SQLEXPRESS;Initial Catalog=dbFiles;Integrated Security=True"
		     providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
